{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <h1 class="h3 mb-4 text-gray-800">
        Change Password
    </h1>

    <div class="card shadow">

        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post">

                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}

                    {% for field in form %}
                        {% for error in field.errors %}
                            <p><strong>{{ field.label }}:</strong> {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                {{ form.as_p }}

                <button class="btn btn-primary">
                    Change Password
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}