{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% include "includes/head.html" %}

</head>

<body id="page-top">

<div id="wrapper">

    {% include "includes/sidebar.html" %}

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            {% include "includes/topbar.html" %}

            <div class="container-fluid">

                {% if messages %}
                
                {% for message in messages %}
                
                <div class="alert alert-success alert-dismissible fade show">
                
                    {{ message }}
                
                    <button class="close" data-dismiss="alert">
                
                        &times;
                
                    </button>
                
                </div>
                
                {% endfor %}
                
                {% endif %}
                {% block content %}
                {% endblock %}
                

            </div>

        </div>

        {% include "includes/footer.html" %}

    </div>

</div>

{% include "includes/scripts.html" %}

</body>

</html>